<!DOCTYPE html>
<html>
    <head>
        <title>www.TalbaganMess.com</title>
        <link rel="stylesheet" type="text/css" href="index.css">
        <script src="JQuery.js"></script>
    </head>
    <body>
        <div class="main">
        <div class="menubar">
        <ul id="ul">
            <li>Home
                <div class="home">
                     <h1>Welcome To Talbagan Mess</h1>
                 </div>
            </li>
            <li>Members
                <div class="submenu1">
                    <ul>
                        <li>Ritesh
                            <div class="name">
                                <p>
                                    <div class="ritesh">
                                        <p>
                                    Name : Ritesh Khatua
                                    C/o : Rohit Khatua
                                    DOB : 12/06/2000
                                    Age : 20+
                                    Proffesion : Student
                                    Address : Mansuka,Ghatal,Paschim Medinipur
                                    School : Mansuka L.N High School 
                                    College : Gurunanak Institute of Technology
                                    Course  :  B.tech
                                    Department : Food Technology
                                    </p>
                                    </div>
                                </p>
                            </div>
                        </li>
                        <li>Goutam
                            <div class="name">
                                <p>
                                    <div class="rahul">
                                    Name : Rahul Bera
                                    C/o : Ganapati Bera
                                    DOB : 24/02/1999
                                    Age : 21+
                                    Proffesion : Student
                                    Address : Anandapur,Ghatal,Paschim Medinipur
                                    School : Mansuka L.N High School 
                                    College : Gurunanak Institute of Technology
                                    Course  :  Diploma
                                    Department : Electrical Engineering
                                    </div>
                                </p>
                            </div> 
                        </li>
                        <li>Kausik
                            <div class="name">
                                <p>
                                    <div class="kasuik">
                                    Name : Kausik Porey
                                    C/o : Joydev Porey
                                    DOB : 21/10/1998
                                    Age : 21+
                                    Proffesion : Student
                                    Address : Anandapur,Ghatal,Paschim Medinipur
                                    School : Mansuka L.N High School (Madhyamik Pass)
                                    School : Baradongal Ramanath Institution (H.S. Pass)
                                    College : Techno International New Town
                                    Course  :  B.tech
                                    Department : Electrical Engineering
                                    </div>
                                </p>
                            </div>
                        </li>
                        <li>Badal
                            <div class="name">
                                <p>
                                    <div class="durbadal">
                                    Name : Durbadal Samanta
                                    C/o : NA
                                    DOB : 17/03/1994
                                    Age : 26+
                                    Proffesion : Job at ICICI Bank
                                    Address : Bamankhana,Arambagh,Hooghly
                                    School : Mayal K.C Roy School 
                                    College : Arambagh Mahavidyalay
                                    Course  :  B.A
                                    Department : English
                                    </div>
                                </p>
                            </div>
                        </li>
                        <li>Sahid
                            <div class="name">
                                <p>
                                    <div class="sahid">
                                    Name : Sahid Anowar
                                    C/o : NA
                                    DOB : 11/10/1999
                                    Age : 20+
                                    Proffesion : Student
                                    Address : Barasat
                                    School : NA
                                    College : Gurunanak Institute of Technology
                                    Course  :  B.tech
                                    Department : Food Technology
                                    </div>
                                </p>
                            </div>
                        </li>
                        <li>Suraj
                            <div class="name">
                                <p>
                                    <div class="suraj">
                                    Name : Suraj Jana
                                    C/o : NA
                                    DOB : NA
                                    Proffesion : Student
                                    Age : 20+
                                    Address : Singhapur,Ghatal,Paschim Medinipur
                                    School : Vidyasagar High School 
                                    College : Gurunanak Institute of Technology
                                    Course  :  BHM
                                    Department : Hospital Management
                                    </div>
                                </p>
                            </div>
                        </li>
                        <li>Bhaskar
                            <div class="name">
                                <p>
                                    <div class="bhaskar">
                                    Name : Bhsakar Mondal
                                    C/o : NA
                                    DOB : NA
                                    Age : 19+
                                    Proffesion : Student
                                    Address : Ghatal,Paschim Medinipur
                                    School : Vidyasagar High School 
                                    College : NA
                                    Course  :  Diploma
                                    Department : Civil Engineering
                                    </div>
                                </p>
                            </div>
                        </li>
                        <li>Chotka
                            <div class="name">
                                <p>
                                    <div class="chotka">
                                    Name : Sourav Samanta
                                    C/o : Bikash Samanta
                                    DOB : 21/04/1999
                                    Age : 21
                                    Proffesion : Student
                                    Address : Madhabchawk,Ghatal,Paschim Medinipur
                                    School : Mansuka L.N High School (Madhyamik Pass)
                                    School : Baradongal Ramanath Institution (H.S. Pass)
                                    College : Gurunanak Institute of Technology
                                    Course  :  B.tech
                                    Department : Food Technology
                                    </div>
                                </p>
                            </div>
                        </li>
                        <li>Souvik
                            <div class="name">
                                <p>
                                    <div class="souvik">
                                    Name : Souvik Samanta
                                    C/o : Bikash Samanta
                                    DOB : NA
                                    Age : 22
                                    Proffesion : Student
                                    Address : Madhabchawk,Ghatal,Paschim Medinipur
                                    School : Mansuka L.N High School (Madhyamik Pass) 
                                    School : Baradongal Ramanath Institution  (H.S. Pass)
                                    College : Calcutta University
                                    Course  :  M.com
                                    Department : Accountancy
                                    </div>
                                </p>
                            </div>
                        </li>
                        </li>
                    </ul>
                </div>  
            </li>
            <li>Bills
               <div class="bills">
                   <ul>
                      <li>Room Rent
                          <div class="room">
                              <h1>Room Rent :  Rs. 8000 (May be Change in every new year)</h1>
                      </li>   
                      <li>Wifi
                          <div class="room">
                              <h1>Wifi Bill Rs. 708</h1>
                          </div>
                      </li>
                      <li>Electricity
                          <div class="room">
                              <h1>Electricity Bill is around Rs.200 - Rs.1500</h1>
                          </div>
                      </li>
                   </ul> 
               </div>
            </li>
            <li>Images</li>
            <li>About Us
                <div class="about">
                    <p>There are many rules and regulation in our mess.<br>
                    We cooked by our own.<br>
                    Address : 98-Talbagan Colony,Baranagar,Pin- 700090<br>
                    Near Talbagan High School
                </p><br>
                <img src="Images/welcome.png" width=200px height=100px>

                </div>
            </li>
            <li>Contact
                <div class="contact">
                    <h1>Contact No : 9593642186(Kausik)</h1>
                    <h2>Email Adrress : kousikporey1997@gmail.com</h2>
                </div>
            </li>
        </ul>
        </div>
        </div>
        <script>
            $(document).ready(function(){
                $(".ritesh").click(function(){
                    $(".ritesh").show();
                });
            });
        </script>
    </body>
</html>